body {
	text-align: center;
	margin: 5%;
}

/*  Header Styling  */
header {
	background-image: url('../img/green-thumb-print.jpg');
	background-size: cover;
	background-position: center 20%;
	padding-bottom: 20%;
	color: #034a1b;	
}

h1 {
	font-size: 3.5em;
}

.hero-image {
	display: inline;
	width: 50%;
}