<div>
	<h2 id="sign-in">Login</h2>
	<div class="form-group">
		<form class="form-inline" ng-submit="user.logIn(user)" method="POST">
			<input type="text" class="form-control" ng-model="user.username" placeholder="username"/>
			<input type="password" class="form-control" ng-model="user.password" placeholder="password"/>
			<input type="submit" value="Submit" class="btn btn-default"/>
		</form>
	</div>

	<p>If you do not have an account,</p>
		<button class="btn btn-default" ng-click="user.signUpPath()">Sign Up here!</button>
</div>

